.acm-conditionals-wrapper {
  margin-top: 20px;
}

.acm-ui-wrapper .button {
  margin-right: 10px;
}

.acm-ui-wrapper p {
  
}

#conditionals-help {
  width: 600px;
}

#the-list:hover .row-actions {
	visibility: visible;
}