.acm-conditionals-wrapper {
  margin-top: 20px;
}

.acm-ui-wrapper .button {
  margin-right: 10px;
}

.acm-ui-wrapper p {
  
}

#conditionals-help {
  width: 600px;
}

#the-list:hover .row-actions {
	visibility: visible;
}

.form-new-row {
    clear: left;
    float: left;
    width: 50%;
}

.form-half {
    float: left;
    width: 45%;
    margin-bottom: 5px;
}

.form-add-more {
    clear:left;
    width: 90%;
    text-align: right;
}